// FONTS : Raleway
@font-face {
  font-weight: 800;
  font-style: normal;
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.ttf') format('truetype');
}

// FONTS : Lato
@font-face {
  font-weight: 200;
  font-style: italic;
  font-family: 'Lato';
  src: url('../fonts/Lato-ThinItalic.ttf') format('truetype');
}