// Fonts
$headline: "Raleway";

//Colors
$primary-color: #e63d37;
$white: #fefefe;
$black: #222222;
$light-grey: #c7c7c7;
$background-secondary-color: #e63d37;
$background-footer: #000734;

// Transition
$transition: all 0.3s ease;

// Breakpoints
$xxxs: 20.063em; // = 321px
$xxs: 23.500em; // = 376px
$xs: 36.000em; // = 576px
$sm: 45.000em; // = 720px
$md: 60.000em; // = 960px
$lg: 71.250em; // = 1140px
$xl: 87.500em; // = 1400px

// Some others dimensions
