<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static template</title>
    <link rel="stylesheet" href="assets/styles/main.min.css">
</head>
<body>
   <p>Hello there</p>
   <span>mimimii</span>
   <p>hablooo 
       gjrg htht gfgf
    
       
   </p>
   @@include('./test.html')
   <script src="assets/javascript/main.min.js" charset="utf-8"></script>
</body>
</html>